extends ../auth.layout.pug

block content
	.auth
		.auth__header
			.auth__settings Выбор темы
				input(type="checkbox" id="theme-mountains" checked).auth__settings-switch
				label(for="theme-mountains").auth__settings-label Горы
				input(type="checkbox" id="theme-desert").auth__settings-switch
				label(for="theme-desert").auth__settings-label Пустыня
				input(type="checkbox" id="theme-forest").auth__settings-switch
				label(for="theme-forest").auth__settings-label Лес
			.auth__login-btn Авторизоваться
		.auth__content
			.auth__user
				include ../components/modules/user.pug
				.auth__socials
					include ../components/modules/socials.pug
			.auth__btns
				a(href="my-works.html").auth__btn Мои работы
				a(href="about.html").auth__btn Обо мне
				a(href="blog.html").auth__btn Блог
		.auth__footer Не является копированием проекта LoftSchool #[br] ознакомиться с кодом можно тут:
			a(href="https://github.com/ewudes/loftfolio") GitHub