ul.socials
  li.socials__link
    a(class='socials__link', href='#')
      +icon('vk','socials__link-pic socials__link-pic_auth socials__link-pic_vk')
  li.socials__link
    a(class='socials__link', href='#')
      +icon('github','socials__link-pic socials__link-pic_auth socials__link-pic_gh')
  li.socials__link
    a(class='socials__link', href='#')
      +icon('in','socials__link-pic socials__link-pic_auth socials__link-pic_in')